<h1>
	Dashboard
</h1>
<p>Current temperature: <%= @view["current_temp"] %>°C</p>
<p>Today's predicted maximum: <%= @view["today_max"] %>°C</p>
<p>Tomorrow's predicted maximum: <%= @view["tomorrow_max"] %>°C</p>